.weatherBg{
  background-image: url(/src/weatherBg.jpg);
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
h1{
  color: aliceblue;
  font-weight: 1000;
}
.weatherResultBox{
  /* display: flex;
  flex-direction: row; */
  

  width: 300px;
  height: 300px;
  margin: auto;
  

}
.icon{
  height: 100px;
  width: 100px;
}
.weatherCity{
  font-size: 25px;
}
.weatherTemp{
  font-size: 50px;
  font-weight: 500;
}